<!DOCTYPE html>

<html>
    <head>
        <title>Home Services</title>
	
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        
        <link href="../../css/style.css" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        
        <div class="container">
            
            <!--header-->
            <div id="header">
                <!-- Navigation bar --> <!-- Location fixed--> <!-- Dropdown menu on services -->
        <nav class="navbar navbar-expand-sm navbar-light" id="nav">
            <a class="navbar-brand px-3" href="#">
                <img src="../img/icon.png" alt="" loading="lazy">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation" aria-expanded="false"><span class="navbar-toggler-icon"></span></button>
                    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <nav class="navbar-nav mr-auto">
                    <a class="nav-link h5 active font-weight-bold text-white px-3" href="../../index.html">Home</a>
                    <div class="dropdown">
                        <a class="nav-link h5 font-weight-bold px-3 text-white dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                            Services
                        </a> 
                        
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item h6 py-5" href="../../html/plumber.html">Plumber</a>
                            <a class="dropdown-item h6 py-5" href="../../html/carpentor.html">Carpentor</a>
                            <a class="dropdown-item h6 py-5" href="../../html/electrical-services.html">Electrical Services</a>
                            <a class="dropdown-item h6 py-5" href="../../html/ac-repairs.html">AC Repair</a>
                        </div>
                    </div>
                </nav>
                <nav class="navbar-nav ml-auto">
                    <a class="nav-link h5 font-weight-bold px-3 text-white" href="../../html/login.html" id="logged">Log In</a>
                    <a class="nav-link h5 font-weight-bold px-3 text-white" href="../../html/sign-up.html" id="logged">Sign Up</a>
                    <a class="nav-link h5 font-weight-bold px-3 text-white" href="/logout" id="out">LogOut</a>
                    <a class="nav-link h5 font-weight-bold px-3 text-white" href="../../html/mycart.html" id="out">My Cart</a>
                </nav>
            </div>
        </nav> <!-- navigation-bar -->
            </div>
            
            <!--middle container-->
            <div id="middle" class="py-5">
	<div class="container justify-content-center w-75">
		<h1 class="mb-4">Edit Review</h1>

		<form action="/reviews/<%=review.id %>?_method=PUT" method="POST">
			<!-- we create our form in different place
				merako use krna tha yeh include wala isliye-->
			<%- include('_form_fields') %>
		</form>
	</div>
</div>
            
            <!--Footer-->
            <div class="col mt-0" id="footer">
                <nav class="nav mr-auto justify-content-center">
                    <a class="nav-link font-weight-lighter text-white" href="../../html/about.html">About Us</a>
                    <a class="nav-link font-weight-lighter text-white" href="/reviews">Reviews</a>
                </nav>
            <hr style="width: 300px; margin: 10px auto; border-color: red;">
                
                <nav class="mr-auto d-flex justify-content-center">
                <p class="font-weight-normal text-white">Copyrightʩ Brand 2020</p>
            </nav>
            </div>
	   </div>
    </body>
    
    <script src="../../scripts/navbar_show.js" type="text/javascript"></script>
<!--    <script src="../scripts/ac-repair-01.js" type="text/javascript"></script>-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
</html>