<!DOCTYPE html>

<html>
    <head>
        <title>Home Services</title>
	
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        
        <link href="../css/style.css" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        
        <div class="container">
            
            <!--header-->
            <div id="header">
                <!-- Navigation bar --> <!-- Location fixed--> <!-- Dropdown menu on services -->
        <nav class="navbar navbar-expand-sm navbar-light" id="nav">
            <a class="navbar-brand px-3" href="#">
                <img src="../img/icon.png" alt="" loading="lazy">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation" aria-expanded="false"><span class="navbar-toggler-icon"></span></button>
                    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <nav class="navbar-nav mr-auto">
                    <a class="nav-link h5 active font-weight-bold text-white px-3" href="../index.html">Home</a>
                    <div class="dropdown">
                        <a class="nav-link h5 font-weight-bold px-3 text-white dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                            Services
                        </a> 
                        
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item h6 py-5" href="../html/plumber.html">Plumber</a>
                            <a class="dropdown-item h6 py-5" href="../html/carpentor.html">Carpentor</a>
                            <a class="dropdown-item h6 py-5" href="../html/electrical-services.html">Electrical Services</a>
                            <a class="dropdown-item h6 py-5" href="../html/ac-repairs.html">AC Repair</a>
                        </div>
                    </div>
                </nav>
                <nav class="navbar-nav ml-auto">
                    <a class="nav-link h5 font-weight-bold px-3 text-white" href="../html/login.html" id="logged">Log In</a>
                    <a class="nav-link h5 font-weight-bold px-3 text-white" href="../html/sign-up.html" id="logged">Sign Up</a>
                    <a class="nav-link h5 font-weight-bold px-3 text-white" href="/logout" id="out">LogOut</a>
                    <a class="nav-link h5 font-weight-bold px-3 text-white" href="../html/mycart.html" id="out">My Cart</a>
                </nav>
            </div>
        </nav> <!-- navigation-bar -->
            </div>
            
            <!--middle container-->
            <div id="middle" class="py-5">